[Unit]
Description=Westronics Med1
ConditionPathExists=/home/root/doghouse/lib/med1/med1.js

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=med1
EnvironmentFile=/etc/default/node
WorkingDirectory=/home/root/doghouse/lib/med1
ExecStart=/usr/bin/node med1.js

[Install]
WantedBy=multi-user.target
