[Unit]
Description=Westronics Benchtest
ConditionPathExists=/home/root/doghouse/lib/benchtest/benchtest.js

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=benchtest
EnvironmentFile=/etc/default/node
WorkingDirectory=/home/root/doghouse/lib/benchtest
ExecStart=/usr/bin/node benchtest.js

[Install]
WantedBy=multi-user.target
